// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// VARS

$dark-green: #294639;
$green: #77AF9C;
$light-green: #8CD790;
$light: #D7FFF1;

$grey: #f5f5f5;
$light-grey: #eee;
$black: #333;
$red: #AF4034;
$light-blue: #d3e6f5;

body{
    margin: 0!important;
    color: $black;
    font-family: 'Roboto';
}


.grid-container{
    display: inline-grid;
    grid-template-areas: "sidebar main popups";
    grid-template-columns: 200px 700px 100px;
    grid-template-rows: auto;
    width: 100%;
    justify-content: space-between;
    background-color: $light-blue;
  }

  .main {
    grid-area: main;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .nav{
    grid-area: sidebar;
    width: 200px;
    height: 100vh;
    overflow: auto;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 13px;

    .nav-heading{
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    h3 {
        // align-self: flex-start;
        // margin-left: 9px;
        // /* width: 100%; */
        // padding-bottom: 10px;
        // padding-right: 50px;
        // border-bottom: 1px solid $dark-green;
    }

    .note{
        // background-color: $green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 5px;
        position: relative;
        min-height: 60px;

        i {
            display: none;
        }

        &:hover {
            background-color: $light-blue;

            i {
                display: block;
                color: $black;
            }
        }

        p {
            font-size: 13px;
        }

        h5 {
            color: $black;
        }

        button {
            position: absolute;
            right: 10px;
            background-color: transparent;
            border: none;
        }

        p, h5 {
            margin: 0;
        }
    }}

  .popups {
    grid-area: popups;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    button{
        background-color: #2b90d9;
        position: fixed;
        right: 0px;
        top: 10px;
        height: 60px;
        width: 60px;
        border: none;
        transition: 0.3s all ease-in-out;
        cursor: pointer;

        i {
            color: rgba(255,255,225,0.7);

        }

        &:hover{
            width: 90px;
        }
    }
}

  .formWrapper input, .formWrapper textarea{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Roboto';
  }

  .formWrapper input:focus, .formWrapper textarea:focus{
      outline: #2b90d9 3px solid;
  }

  .formWrapper textarea{
    min-height: 500px;
  }

  button.add-note{
    background-color: #3ac569;
    position: fixed;
    right: 0px;
    top: 75px;
    height: 60px;
    width: 60px;
    border: none;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    i {
        color: rgba(255,255,225,0.7);
    }

    &:hover{
        width: 90px;
    }


  }

  .RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
  }